<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="  
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd  
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd  
    http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!-- 代替:注解适配器 注解映射器 -->
	<mvc:annotation-driven conversion-service="conversionService" validator="validator">
	</mvc:annotation-driven>

	<!-- 自定义参数绑定 -->
	<bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		<property name="converters">
			<list>
				<!-- 日期类型转换 -->
				<bean class="com.sunyuki.oa.controller.converter.CustomDateConverter"></bean>
			</list>
		</property>
	</bean>

	<!-- 校验器 -->
	<bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
		<!--hibernate 校验器 -->
		<property name="providerClass" value="org.hibernate.validator.HibernateValidator" />
		<!--指定校验使用资源 -->
		<property name="validationMessageSource" ref="validatemessageSource"/>
	</bean>
	
	<!-- 校验错误信息配置文件 -->
	<bean id="validatemessageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>classpath:validatemessages</value>
			</list>		
		</property>
		<!-- 资源文件编码格式 -->
		<property name="fileEncodings" value="utf-8" />
		<!-- 缓存时间 -->
		<property name="cacheSeconds" value="120" />
	</bean>


	<!-- 自动扫描Controller，(Handler/Controller) -->
	<context:component-scan base-package="com.sunyuki.oa.controller" />

	<!-- 视图解析器 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	<!-- 支持上传文件 -->  
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
    	<!-- 最大上传文件为5m -->
    	<property name="maxUploadSize">
	    	<value>5242800</value>
    	</property>
    </bean> 
</beans>