<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd   ">
	
	<!-- 配置 jdbc.properites -->
	<context:property-placeholder location="classpath:dao/jdbc.properties" />
	
	<!-- 数据源c3p0 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
	    <!-- 指定连接数据库的驱动 -->
		<property name="driverClass" value="${jdbc.driverClassName}" />
		<!-- 指定连接数据库的URL -->
		<property name="jdbcUrl" value="${jdbc.url}" />
		<!-- 指定连接数据库的用户名 -->
		<property name="user" value="${jdbc.username}" />
		<!-- 指定连接数据库的密码 -->
		<property name="password" value="${jdbc.password}" />
		
		<!-- 指定连接池中保留的最大连接数. Default:15--> 
		<property name="maxPoolSize" value="${c3p0.pool.size.max}" />
		<!-- 指定连接池中保留的最小连接数-->
		<property name="minPoolSize" value="${c3p0.pool.size.min}" />
		<!-- 指定连接池的初始化连接数  取值应在minPoolSize 与 maxPoolSize 之间.Default:3--> 
		<property name="initialPoolSize" value="${c3p0.pool.size.ini}" />
		<!-- 当连接池中的连接耗尽的时候c3p0一次同时获取的连接数. Default:3-->  
		<property name="acquireIncrement" value="${c3p0.pool.size.increment}" />
		<!-- 单个链接的预加载数量 Default:0-->  
        <property name="maxStatements" value="${c3p0.pool.size.maxStatements}"/>
        <!-- 链接池内单个链接所拥有的最大缓存数  Default:0-->
        <property name="maxStatementsPerConnection" value="${c3p0.pool.size.maxStatementsPerConnection}"></property>
        <!-- 最大空闲时间,1800秒内未使用则连接被丢弃。若为0则永不丢弃。 Default:0-->  
        <property name="maxIdleTime" value="${c3p0.pool.size.maxIdleTime}"/>
	</bean>


	<!-- sessionFactory 将spring和mybatis整合 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:dao/mybatisConfig.xml" />		
	</bean>
	
	<!-- mapper批量扫描,从mapper包中扫描出Mapper接口,自动创建代理对象并在spring容器中注册
	遵循规范,mapper.jar和mapper.xml在一个目录下面
	 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.sunyuki.oa.mapper" />
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
	</bean>	
	
</beans>